<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <!-- Bring in fontawesome toolkit-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"></link>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <!-- Our CSS  -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Jquery-->
    <script src="jquery-3.5.1.min.js"></script>
  </head>

<!--Introduce navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand logo" href="/" style="color: black"> <i class="fas fa-prescription" style="font-size: 30px"></i> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!--Add comparison link-->
                <a class="nav-link" href="/chart" style="color:black"> <i class="fas fa-tablets"></i> Plots</a>
            </li>
            <li class="nav-item">
                <!--Add data link-->
                <a class="nav-link" href="/data" style="color:black"> <i class="fas fa-table"></i> Data</a>
            </li>
            <li class="nav-item">
                <!--Add data link-->
                <a class="nav-link" href="/profile" style="color:black"> <i class="fas fa-user-graduate"></i> About Us</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

  <body>
    <div class="container">
      <h1 id="title">Meet The Collaborators</h1>
      <div class="row">
       <div class="col-md-12"> 

        <section class="services row no-gutters px-5 text-center">
          <div class="col-md-6 py-5">
            <h2><i class="fas fa-ice-cream" style="color:skyblue"></i></h2>
            <p class="service-names" style="font-size: 40px" >Kefan Li</p>
            <p class="service-description">"Motivation gets you going, but discipline keeps you growing"</p>
            <p class="linkedin"> <a href="https://www.linkedin.com/in/kefan-keke-li"> LinkedIn</a> </p>
            <p class="git-pages"> <a href="https://github.com/kli99"> GitHub </a></p>
          </div>
          <div class="col-md-6 py-5">
            <h2><i class="far fa-smile" style="color:rgb(7, 206, 7)"></i></h2>
            <p class="service-names" style="font-size: 40px">Anjelica Ramsey</p>
            <p class="service-description">Reluctant cat owner and taco enthusiast</p>
            <p class="linkedin"> <a href="https://www.linkedin.com/in/anjelicaramsey/"> LinkedIn</a> </p>
            <p class="git-pages"> <a href="https://github.com/AnjelicaRamsey"> GitHub </a></p>
          </div>
          <div class="col-md-6 py-5">
            <h2><i class="fas fa-dove" style="color:yellow"></i></h2>
            <p class="service-names" style="font-size: 40px">Sanjaye Thomas</p>
            <p class="service-description">“Life is either daring adventure or nothing at all"</p>
            <p class="linkedin"> <a href="www.linkedin.com/in/sanjayethomas-cpa-cgma"> LinkedIn</a> </p>
            <p class="git-pages"><a href="https://github.com/sanjaye22"> GitHub </a></p>
          </div>
          <div class="col-md-6 py-5">
            <h2><i class="fas fa-music" style="color:orangered"></i></h2>
            <p class="service-names" style="font-size: 40px">Eline Van Eldere</p>
            <p class="service-description">"We may be going sideways, but at least we go places" #crabpeople</p>
            <p class="linkedin"> <a href="linkedin.com/in/eline-van-eldere"> LinkedIn</a> </p>  
            <p class="git-pages"><a href="https://github.com/ElineVE"> GitHub </a></p>
          </div>
          <div class="col-md-6 py-5">
            <h2><i class="fas fa-hippo" style="color: orange"></i></h2>
            <p class="service-names" style="font-size: 40px" >Kenny Wu</p>
            <p class="service-description">Free pizza is best pizza</p>
            <p class="linkedin"> <a href="https://www.linkedin.com/in/kennywufeng/"> LinkedIn</a> </p>
            <p class="git-pages"><a href="https://github.com/kennywf"> GitHub </a></p>
          </div>
        </section>
   
    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/markers.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
  </div>
</div>
</div>
  </body>
</html>
