body,
html {
    height: 100%;
}


/*Body*/

body {
    padding: 0px;
    margin: 0px;
    /* background-color: #F9FEFC; */
    background-color: #0f0f0f
}


/*Words*/

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    /* color: rgb(73, 1, 128); */
    color: #FAF9C1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/*Placeholder1*/

.placeholder1 {
    text-align: center;
    font-size: 22px;
    color: #FAF9C1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    color: #FAF9C1;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.btn btn-light {
    color: black;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/*Navbar*/


/* .dropdown-item {
  color: rgb(255, 0, 191)
} */


/* .nav-link {
  color: rgb(255, 0, 191)
} */

.navbar {
    font-size: 20px;
}

.navbar-brand logo {
    font-size: 100px
}

#img_2 {
    max-width: auto;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main_img {
    max-width: auto;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gif {
    height: auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prediction {
    color: #FAF9C1;
    font-weight: bolder;
}


/*Container*/

.container {
    background-color: F9FEFC;
}

.table .thead-dark th {
    background-color: #FAF9C1;
    color: white
}

.viz1603242162555 {
    display: flex;
    justify-content: center;
    /* margin-left: auto;
  margin-right: auto; */
}


/*Media query*/

.navbar {
    /* background-color: rgb(173, 195, 230) !important; */
    background-color: #FAF9C1 !important;
}

a:hover {
    background-color: white;
}